/***/ /*означает, что строка изменена или создана*/

@media only screen and (max-width: 1100px) {

    /*HEADER STYLE START*/
    .header__wrapper {
        width: 92%; /*15+345+15 = 375*/
        flex-wrap: nowrap;
    }
    .header__cube-svg { /*синий кубик изменен размер*/
        width: 51.73px; /***/
        height: 52.69px;
    }

    .header__noTab-text { /*изменен размер самой натписи NoTab*/
        width: 46.41px; /***/
        height: 11.96px; /***/
    }

    .header__nav {
        padding-left: 185px; /*108 (205)*/
    }
    .header__nav-item-logo {
        display: none; /***/
    }

    .header__nav-item-link {
        font-size: 14px; /***/
    }
    /*HEADER STYLE END***************************************************/

    /*INTRO STYLE START*/
    .intro__wrapper { /*почти тоже самое, что и в классе header__wrapper надо будет объединить*/
        width: 92%; /***/
        max-width: 1240px;
        margin: auto; /*выставляет див с этим классом по центру в его родителе*/
        display: flex;
        flex-direction: column; /*ОТЛИЧИЕ от  header__wrapper */
        justify-content: flex-start;
        flex-wrap: wrap; /*дарует возможность переноса по строкам контента*/
        background-color: black;
    }
    .intro__wrapper-1 {
        display: flex;
        flex-direction: row;
    }
    .intro__textBlock {
        min-height: 323px; /*700*/

    }
    .intro__textBlock-item-1 {
        padding-top: 98.31px; /*154*/
        width: 207px; /***/
        height: 120px; /***/
    }
    .intro__textBlock-item-1-text {
        font-size: 35px; /***/
        line-height: 40px; /***/
    }

    .intro__imgBlock { /*контейнер для градиента и картики айфона*/
        position: relative;
        padding-left: 15px; /*погонядлось в figma 180*/
    }
    .intro__imgBlock-ico {  /*сама картинка айфона*/
        margin-top: 82px; /***/
        width: 161px; /***/
        height: 323px; /***/
    }
    .intro_gradient { /*градиент собственно*/
        width: 363.95px; /***/
        height: 430.08px; /***/
        left: 95px; /***/
        top: 48px; /***/
        background: rgba(250, 0, 255, 0.5); /***/
        filter: blur(250px);
        transform: rotate(-90.69deg); /***/
    }
    .intro__textBlock-item-2 {
        padding-top: 125px; /*55*/
    }
    .intro__textBlock-item-2-gradient { /*контейнер для градиента*/
        margin-bottom: 32px; /***/
        margin-right: 185px; /***/
        height: 74px; /***/
        width: 74px; /***/
    }
    .intro__textBlock-item-2-img { /*контейнер картинки-линии*/
        display: none; /***/
    }
    .intro__textBlock-item-2-text {
        width: 240px; /***/
        height: 88px; /***/
        font-style: normal; /***/
        font-weight: 400; /***/
        font-size: 16px; /***/
        line-height: 22px; /***/
    }
    .intro__footer {
        width: 92%; /***/
        margin-top: 113px; /***/
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .intro__footer-item-1 {
       min-width: 283px; /***/
    }
    .intro__footer-item-1-text {
        font-size: 24px; /***/
        line-height: 29px; /***/

    }
    .intro__footer-item-2 {
        margin-top: 34px; /***/
        padding-left: 0; /***/
    }
    .intro__footer-item-2-ico {
        width: 185px; /***/
        height: 60px; /***/
    }

    .intro__footer-item-3 {
        margin-top: 24px; /***/
        padding-left: 0; /***/
    }

    .intro__footer-item-3-ico {
        width: 185px; /***/
        height: 60px; /***/
    }
    /*INTRO STYLE END*/

    /*COMBINER STYLE START*/

    .combiner {
        display: flex;
        flex-direction: column;
    }

    /*COMBINER STYLE END*/

    /*COOKIE STYLE START*/
    .cookie {
        order: 3; /***/
    }

    .cookie__item-1 {
        padding-left: 15px; /***/
    }
    .cookie__item-text {
        font-size: 12px; /***/
        line-height: 16.34px; /***/
        width: 200px; /***/
    }

    .cookie__item-2 {
        padding-right: 15px; /***/
    }

    .cookie__item-button {
        width: 92px; /***/
    }
    /*COOKIE STYLE END*/

    /*INFO__WINDOWS STYLE START*/

    .info__windows {
        width: 92%; /***/
        margin: auto; /*выставляет див с этим классом по центру в его родителе*/

        padding-left: 0;   /***/
        padding-right: 0;  /***/
    }
    .info__window-wrap-border-1 {
        width: 345px; /***/
        height: 233px; /***/
        padding-left: 33px; /***/
    }
    .info__window-wrap-border-2 {
        margin-top: 30px;
        width: 345px; /***/
        height: 167px; /***/
        padding-left: 33px; /***/
    }
    .info__window-mail {
        height: 154px; /***/
    }
    .info__windows-login {
        height: 88px; /***/
    }
    .info__windows-text {
        font-size: 24px; /***/
        line-height: 33px; /***/
    }
    .info__windows-link {
        font-size: 18px; /***/
        line-height: 25px; /***/
    }
    /*INFO__WINDOWS STYLE END*/

    /*MISSION STYLE START*/
    .mission {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .mission__img { /*контейнер картинки*/
        height: 604px;
        width: 100%;
        display: flex;

        justify-content: center;
    }
    .mission__img-ico { /*сама картинка*/
        top: 0;
       margin-top: 163px;
        position: relative;
        width: 172.53px;
        height: 346.12px;
        transform: rotate(0deg);
    }
    .mission__text { /*первый контейнер текста*/
        max-width: 358px;
        padding-left: 15px;
        margin-left: 0;

    }
    .mission__text-container { /*второй контейнер текста*/
        position: relative;
        z-index: 0;
    }
    .mission__text-gradient {
        left: -17px;
        top: 86px;
    }
    .mission__text-title { /*заголовок*/
        padding-top: 110px;
        font-size: 24px;
        line-height: 29px;
    }
    .mission__text-content { /*основный текст*/
        width: 315px;
        height: 132px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
    /*MISSION STYLE END*/

    /*IDScanner STYLE START*/

    .IDScanner { /*общий контейнер*/
        position: relative; /*зачем ...*/
        z-index: 1; /*слой IDScanner*/
        height: 1789px; /***/
    }

    .IDScanner__img { /*контенер для гардиента и картинки бармена*/
        position: absolute;
        z-index: 2;  /*слой IDScanner__img & IDScanner*/
    }
    .IDScanner__img-gradient {  /*контенер для градиента*/
        width: 457px; /***/
        height: 300px; /***/

        background: linear-gradient(179.83deg, #000000 -1.85%, rgba(0, 0, 0, 0.67) 11.21%, rgba(0, 0, 0, 0) 54.71%, #000000 83.92%);
    }
    .IDScanner__img-ico { /*картинка бармена*/
        position: relative; /**/
        z-index: 3; /*слой IDScanner__img*/
        width: 457px; /***/
        height: 300px; /***/
    }
    .IDScanner__content { /*контенер для двух телефонов и текста*/
        padding-top: 227px; /***/
        position: relative; /***/
        z-index: 3; /*слой IDScanner (поверх всех по идее)*/
        flex-direction: column; /***/

    }
    .IDScanner__content-img-1 { /*контенер 1 телефона*/
        padding-top: 100px; /***/
        padding-left: 44px; /***/
        order: 2; /***/
    }
    .IDScanner__content-img-1-ico { /*1 телефон (левый)*/
        width: 278px; /***/
        height: 576px; /***/
    }
    .IDScanner__content-img-2 { /*контенер 2 телефона*/
        padding-top: 55px; /***/
        padding-left: 44px; /***/
        order: 3; /***/
    }
    .IDScanner__content-img-2-ico { /*2 телефон (правый)*/
        width: 278px; /***/
        height: 576px; /***/
    }
    .IDScanner__content-text { /*контейнер для текстовых блоков*/
        order: 1; /***/
        padding-left: 15px; /***/
        padding-top: 0; /*похоже надо будет подгонять*/
    }
    .IDScanner__content-text-tittle { /*титул*/
        width: 138px; /***/
        height: 29px; /***/
        font-size: 24px; /***/
        line-height: 29px; /***/

    }
    .IDScanner__content-text-paragraph { /*абзац*/
        padding-top: 24px; /***/
        width: 345px; /***/
        height: 88px; /***/
        font-weight: 400; /***/
        font-size: 16px; /***/
        line-height: 22px; /***/
    }
    /*IDScanner STYLE END*/

    /*TOOL STYLE START*/
    .tool { /*общий*/
        width: 100%; /***/
        height: 452px; /***/
    }
    .tool__gradient { /*контейнер для контейнера с градиентом*/
       visibility: hidden; /***/
    }
    .tool__text { /*контейнер для текста*/
        padding-top: 0; /***/
        padding-left: 15px; /***/

    }
    .tool__text-tittle { /*текст загаловок*/
        width: 234px; /***/
        height: 29px; /***/
        font-style: normal; /***/
        font-weight: 700; /***/
        font-size: 24px; /***/
        line-height: 29px; /***/

    }
    .tool__text-content { /*основной текст*/
        margin-top: 24px; /***/
        width: 338px; /***/
        height: 88px; /***/
        font-weight: 400; /***/
        font-size: 16px; /***/
        line-height: 22px; /***/

    }
    .tool__img { /*контенер контейнеров для графиков*/
        position: relative;
        z-index: 1;
        width: 100%;
        height: 311px;
        overflow: hidden;
    }
    .tool__img-chart-1 { /*контейнер для графика 1, ЧБ график*/
        width: 38.4%; /*от 375 от ширины экрана телефона*/
        padding-top: 159px; /***/
        padding-left: 0; /***/
        left: -30px; /***/
        z-index: 7; /***/
    }
    .tool__img-chart-2 { /*контейнер для графика 2, круговые диаграммы 4 шт*/
        width: 29.18%; /*от 375 от ширины экрана телефона*/
        padding-top: 83px; /***/
        padding-left: 0; /***/
        left: 36px; /***/
    }
    .tool__img-chart-3 { /*контейнер для графика 3, диаграмма с лампой*/
        width: 22.83%; /*от 375 от ширины экрана телефона*/
        padding-top: 30px; /***/
        padding-left: 0; /***/
        left: 279px; /***/
    }
    .tool__img-chart-4 { /*контейнер для графика 4, график ломанный двойной*/
        visibility: hidden;
    }
    .tool__img-chart-5 { /*контейнер для графика 5, график склаженный*/
        width: 24.25%; /*от 375 от ширины экрана телефона*/
        padding-top: 66px; /***/
        padding-left: 0; /***/
        left: 193px; /***/
    }
    .tool__img-chart-6 { /*контейнер для графика 6, гистаграммы столбцы*/
        width: 24.25%; /*от 375 от ширины экрана телефона*/
        padding-top: 126px; /***/
        padding-left: 0; /***/
        left: 134px; /***/
    }
    .tool__img-chart-7 { /*контейнер для графика 6, диаграммы круговые с процентами*/
        width: 78.93%; /*от 375 от ширины экрана телефона*/
        padding-top: 217px; /***/
        padding-left: 0; /***/
        left: 163px; /***/
    }
    /*TOOL STYLE END*/
    /*QRCODE STYLE START*/

    .qrcode { /*общий контейнер секции*/
        padding-top: 0; /***/
        display: flex; /***/
        flex-direction: row; /***/
        flex-wrap: wrap; /***/
        height: 750px; /***/
    }

    .qrcode__left { /*контейнер для контента слева*/
        position: relative; /***/
        width: 100%; /***/
        height: 418px; /***/
        overflow: hidden; /***/

    }
    .qrcode__left-gradient { /*контейнер для градиента*/
        width: 416px; /***/
        height: 335px; /***/
    }
    .qrcode__left-ico { /*картинка диджея*/
        width: 416px; /***/
        height: 335px; /***/
        left: -28px; /***/
    }
    .qrcode__left-content { /*контейнер для текстово контента и кнопок слева внизу*/
        padding-top: 227px; /***/
        padding-left: 15px; /***/
        overflow: hidden; /***/
    }
    .qrcode__left-content-text { /*контейнер для текста*/
        width: 376px; /***/
    }
    .qrcode__left-content-text-tittle { /*заголовок*/
        width: 107px; /***/
        height: 29px; /***/
        font-size: 24px; /***/
        line-height: 29px; /***/

    }
    .qrcode__left-content-text-paragraph { /*абзац*/
        padding-top: 24px; /***/
        width: 308px; /***/
        height: 88px; /***/
        font-size: 16px; /***/
        line-height: 22px; /***/
    }
    .qrcode__left-content-text-button { /*контейнер для кнопок*/
        width: 100%; /***/
        padding-top: 418px; /***/
        padding-left: 0; /***/
        display: flex; /***/
        flex-direction: column; /***/
        align-items: center; /***/

    }
    .qrcode__left-content-text-button-app { /*контейнер App*/

    }
    .qrcode__left-content-text-button-google { /*контейнер googleStore*/
        padding-left: 0; /***/
        padding-top: 24px; /***/
    }

    .qrcode__right { /*контейнер для контента справа*/
        position: relative; /***/
        width: 651px; /***/
    }
    .qrcode__right-img { /*контейнер для картинки стакана и надписи*/

    }
    .qrcode__right-img-ico-1 { /*картинка сткана*/
        width: 352.44px; /***/
        height: 297px; /***/
        left: 63px; /***/
    }
    .qrcode__right-img-ico-2 { /*надпись nightlife*/
        padding-left: 0; /***/
        width: 88.46px; /***/
        height: 34.62px; /***/
        left: 33px; /***/
        top: 114px; /***/
        transform: rotate(-12.84deg); /***/
    }
    .qrcode__phone-middle { /*контейнер для центрального телефона*/
        padding-top: 802px; /***/
        padding-left: 0; /***/
        left: 12.54%; /***/
    }
    .qrcode__phone-middle-ico { /*центральный телефон*/
        width: 281px; /***/
        height: 563px; /***/
    }
    .qrcode__phone-right { /*контейнер для правого телефона*/
        padding-top: 1415px; /***/
        padding-left: 0; /***/
        left: 12.54%; /***/
    }
    .qrcode__phone-right-ico { /*правый телефон*/
        width: 281px; /***/
        height: 563px; /***/
    }
    /*QRCODE STYLE END*/

    /*GENERATE STYLE START*/
    .generate { /*общий контейнер*/
        padding-top: 1200px; /***/
        position: relative;
        z-index: 1;
        display: flex; /***/
        flex-direction: column;
        width: 100%; /***/

    }
    .generate__img { /*контейнер для контейнеров надписей NOTAB*/
        padding-top: 215px; /***/
        position: relative; /***/
        z-index: 2;
        order: 2; /***/
    }
    .generate__img-ap { /*контейнер верхней строки надписей NOTAB (1, 2)*/
        display: flex;
        justify-content: space-between;
    }
    .generate__img-ap-1 { /*верхняя левая NOTAB*/
        height: 40.5px; /***/
    }
    .generate__img-ap-2 { /*верхняя правая NOTAB*/
        height: 40.5px; /***/
    }
    .generate__img-bottom {
        display: flex;
        justify-content: space-between;
    }
    .generate__img-bottom-3 { /*нижняя левая NOTAB*/
        margin-top: 41.25px; /***/
        height: 40.5px; /***/
    }
    .generate__img-bottom-4 { /*нижняя правая NOTAB*/
        margin-top: 30.38px; /***/
        height: 40.5px; /***/
    }
    .generate__gradient { /*контейнер для градиента*/
        margin-left: 0;
        margin-top: 310px; /***/
        position: absolute;
        z-index: 3; /*покрывает надписи NOTAB*/
        width: 306.4px;
        height: 285.3px;
        left: 9.33%;

        background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
        opacity: 0.15;
        filter: blur(93.3565px);
        border-radius: 142.636px;
        transform: rotate(-0.55deg);
    }
    .generate__phone { /*контейнер для картиник телефона*/
        position: absolute; /***/
        order: 3; /***/
        z-index: 4; /*покрвает градиент*/
        padding-top: 310px; /***/
        padding-left: 0; /***/
        left: 25.92%; /***/
    }
    .generate__phone-ico-1 { /*картинка телефона*/
        width: 181.6px; /***/
        height: 364.3px; /***/
    }
    .generate__phone-ico-2 { /*картинка стрелки*/
       position: absolute; /***/
        padding-left: 0; /* погдгонялось чутка figma 43.5*/
        padding-bottom: 0; /***/
        left: 174px; /***/
        bottom: -36px; /***/
        transform: rotate(35deg); /***/
    }
    .generate__phone-text { /*текст возле стрелки*/
        position: absolute;
        padding-top: 427.7px;
        margin-left: 112px; /*если был padding то текст сжимало*/
        width: 133px;
        height: 22px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }

    .generate__text { /*контейнер для текста*/
        order: 1; /***/
        padding-top: 143.7px; /***/
        padding-left: 15px; /***/
        padding-right: 0; /***/
        display: flex;
        align-items: start; /***/
        flex-direction: column; /***/

    }
    .generate__text-tittle { /*заголовок*/
        width: 295px; /***/
        height: 29px; /***/
        font-size: 24px; /***/
        line-height: 29px; /***/
    }
    .generate__text-paragraph { /*абзац*/
        padding-top: 24px; /***/
        width: 292px; /***/
        height: 44px; /***/
        font-size: 16px; /***/
        line-height: 22px; /***/
    }

    /*GENERATE STYLE END*/

    /*EASIER STYLE START*/
    .easier { /*общий контейнер*/
        padding-top: 308px; /***/
        position: relative;
        z-index: 1;
    }
    .easier__head { /*контейнер для верхнего текста*/
        display: flex;
        flex-direction: column;
        padding-left: 15px;
    }
    .easier__head-tittle { /*заголовок*/
        width: 198px; /***/
        height: 58px; /***/
        font-size: 24px; /***/
        line-height: 29px; /***/
    }
    .easier__head-subTittle { /*малый заголовок*/
        padding-top: 0; /***/
        margin-top: 24px; /***/
        width: 324px; /***/
        height: 22px; /***/
        font-weight: 400; /***/
        font-size: 16px; /***/
        line-height: 22px; /***/
    }
    .easier__gradient { /*градиент*/
        margin-left: 0; /***/
        position: absolute;
        z-index: 5;
        width: 286.92px;
        height: 267.17px;
        right: -46.35%; /***/
        top: 47.73%; /*77,73*/
        background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
        opacity: 0.4; /*0,2*/
        filter: blur(250px);
        transform: rotate(5.78deg);
    }
    .easier__phone { /*контейнер для картинки телефона */
        padding-left: 0; /***/
        margin-top: 145px;
        position: absolute; /***/
        z-index: 2; /***/
        left: -7px; /***/
    }
    .easier__phone-ico { /*картинка телефона*/
        width: 360px; /***/
        height: 430px; /***/
    }
    .easier__text {  /*контейнер для текстовых блоков*/
        position: relative;
        z-index: 3; /*покрывает картинку телефона*/
    }
    .easier__text-item { /*черный бэкраунд и рамка со скруглением*/
        background: #000000;
        border: 0.76007px solid rgba(255, 255, 255, 0.5);
        border-radius: 10px;
    }
    .easier__text-box-1 { /*текстовый блок 1*/
        font-weight: 500;
        margin-left: 39px;
        margin-top: 75px;
        width: 165px;
        height: 57px;
    }
    .easier__text-item-1-text { /*текст текстового блока 1*/
        padding-left: 15px; /***/
        padding-top: 13px; /***/
        width: 155px; /*[136]*/
        height: 32px; /***/
        font-weight: 500; /***/
        font-size: 14px; /***/
        line-height: 16px; /***/
    }
    .easier__text-box-2 { /*текстовый блок 2*/
        margin-left: 196px; /***/
        margin-top: 32px; /***/
        width: 171px; /***/
        height: 62px; /***/
    }
    .easier__text-item-2-text { /*текст текстового блока 2*/
        padding-left: 18px; /***/
        padding-top: 15px; /***/
        width: 158px; /*[136]*/
        height: 32px; /***/
        font-size: 14px; /***/
        line-height: 16px; /***/
    }
    .easier__text-box-3 { /*текствоыфй блок 3*/
        margin-left: 238px; /***/
        margin-top: 343px; /***/
        width: 122px; /***/
        height: 58px; /***/
    }
    .easier__text-item-3-text { /*текст текстового блока 3*/
        padding-left: 19px; /***/
        padding-top: 13px; /***/
        width: 108px; /*85*/
        height: 32px; /***/
        font-style: normal; /***/
        font-weight: 700; /***/
        font-size: 14px; /***/
        line-height: 16px; /***/
    }
    .easier__text-box-4 { /*текствоыфй блок 4*/
        margin-left: 37px; /***/
        margin-top: -98px;
        width: 107px; /***/
        height: 43px; /***/
    }
    .easier__text-item-4-text { /*текст текстового блока 4*/
        padding-left: 14px; /*18*/
        padding-top: 15px; /***/
        width: 91px; /***/
        height: 16px; /***/
        font-size: 14px; /***/
        line-height: 16px; /***/
    }
    /*EASIER STYLE END*/

    /*NOTAB STYLE START*/
    .noTab {  /*общий контейнер секции*/
        display: none; /***/
    }
    /*NOTAB STYLE END*/

    /*FORM STYLE START*/

    .form { /*общий контейнер*/
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form__gradient-top { /*контейнер для градиента верхнего*/
        margin-right: 0; /***/
        left: -19.68%; /***/
        top: 10%; /***/
        width: 247px; /***/
        height: 250px; /***/
    }

    .form__headText { /*контейнер для текста сверху*/
        margin-top: 95px;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .form__headText-tittle { /*заголовок*/
        margin-top: 53px;
        width: 159px;
        height: 29px;
        font-size: 24px;
        line-height: 29px;
    }
    .form__headText-subTittle { /*подзаголовок*/
        margin-top: 23px;
        width: 323px;
        height: 66px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center; /*текст по центру*/
    }
    .form__input { /*контейнер для импутов*/
        margin-top: 49px;
        width: 92%; /*из расчета что ширина импута 818 а общ ширина 1440*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form__input-label {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .inputBorderRed { /*стиль рамки инпута красного стиля*/
        border: 1px solid red;
        box-sizing: border-box;
        border-radius: 10px;
    }
    .inputBorderW { /*дефолтный серый стиль рамки инпута*/
        border: 1px solid #5C5C5C;
        box-sizing: border-box;
        border-radius: 10px;
    }
    .whiteInput { /*общие стили для оформление импутов кроме Venue City & State City */
        margin-top: 23px;
        background: #FFFFFF;

        width: 98%;
        padding: 1%;
        height: 57px; /***/
    }
    .whiteInputCity { /*общие стили для input Venue City State City */
        margin-top: 23px;
        background: #FFFFFF;

        height: 57px; /***/
    }
    ::placeholder { /*общие свойства для placeholder*/
        font-weight: 400; /***/
        font-size: 16px; /***/
        line-height: 22px; /***/
    }
    .form__input-name { /*Name*/
        padding-left: 11px; /***/
    }
    .form__input-venueName { /*Venue Name*/
        padding-left: 11px; /***/
    }

    .form__input-duo { /*контейнер для импутов Venue City State City*/
        padding-left: 1%;
        padding-right: 0; /***/
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .form__input-duo-label-1 { /*Label for input Venue City*/
        display: flex;
        justify-content: start;
        width: 100%; /***/
    }
    .form__input-duo-label-2 { /*Label for input State City*/
        width: 100%; /***/
        display: flex;
        justify-content: start;  /***/
    }
    .form__input-venueCity { /*Venue City*/
        width: 99%;
        padding-left: 11px; /***/
    }
    .form__input-stateName { /*State City*/
        width: 99%;
        padding-left: 11px; /***/
    }

    .form__input-email { /*Email*/
        padding-left: 11px; /***/
    }
    .form__input-subject { /*Subject*/
        padding-left: 11px; /***/
    }
    .form__input-massage { /*Message*/
        padding-left: 11px; /***/
        padding-bottom: 100px; /*утащили текст вверх*/
        height: 140px; /*отличие от whiteInput*/
    }

    .form__gradient-middle { /*контейнер для градиента среднего*/
        margin-left: 0;
        margin-top: 0;
        left: 74.23%;
        top: 70%;
    }
    .form__button { /*контейнер кнопки*/
        margin-top: 40px; /***/
        width: 56.8%; /*из расчета что ширина импута 818 а общ ширина 1440*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form__button-send:hover, .form__button-send:focus, .form__button-send:active{
        background: #a29b9b;
    }
    .form__download { /*контейнер для  надписи и двух кнопок*/
        padding-top: 74px;
        width: 56.8%; /*из расчета что ширина импута 818 а общ ширина 1440*/
        min-width: 345px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .from__download-text { /*контейнер для заголовка*/

    }
    .from__download-text-tittle { /*текст заголовка*/
        text-transform: uppercase;
        height: 33px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.03em;
    }
    .form__download-button { /*контейнер для кнопок*/
        padding-top: 45px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form__download-button-app { /*контейнер для кнопки app*/

    }
    .form__download-button-app-ico {
        width: 185px; /***/
        height: 60px; /***/
    }
    .form__download-button-google { /*контейнер для кнопки google*/
        margin-top: 24px; /***/

    }
    .form__download-button-google-ico {
        width: 187px; /***/
        height: 60px; /***/
    }
    /*FORM STYLE END*/

    /*SLIDER STYLE START*/

    .slider__button {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 10px; /***/
        padding-right: 10px; /***/
    }
    .slider__gradient { /*контейнер для градиента нижнего*/
        margin-left: 16%; /***/
        opacity: 0.7; /***/

    }
    .slideBtn {
        min-width: 60px;
        height: 35px;
        font-size: 16px;
        line-height: 18px;
    }

    /*SLIDER STYLE END*/



    /*FOOTER STYLE START*/
    .footer {
        padding: 64px 0 0 0;
        width: 100%; /*86.11%*/
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .footer-font {
        font-size: 18px;
        line-height: 24.5px;
        color: #FFFFFF;
    }
    .footer__noTab {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__noTab-content { /*контейнер для контента слева*/
       margin-top: 58px;  /***/
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer__gradient { /*контейнер для градиента нижнего*/
        position: absolute;
        z-index: 1;

        width: 224px;  /***/
        height: 227px;  /***/
        left: -23.75%;  /***/
        bottom: -25px;  /***/
        background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
        opacity: 0.6; /*0.3*/
        filter: blur(138.347px);
        transform: rotate(5.78deg);
    }
    .footer__noTab-text { /*Contact us ...*/
        padding-top: 0; /***/
        margin-top: 16px;  /***/
        width: 275px;  /***/
        height: 19px;  /***/
    }
    .form__footer-noTab-copy { /*© 2020 - NoTab®*/
        padding-top: 0;  /***/
        margin-top: 9px;  /***/
        margin-bottom: 24px;  /***/
    }
    .footer__terms { /*контейнер для контент справа*/

    }
    .footer__terms-row1 { /*Terms to use*/
        font-weight: 800;  /***/
        font-size: 18px;  /***/
        line-height: 25px;  /***/
    }
    .footer__terms-row2 { /*Privacy policy*/
        padding-top: 14px;  /***/
        font-size: 18px;  /***/
        line-height: 25px;  /***/
    }
    /*FOOTER STYLE END*/
}
