/***/ /*означает, что строка изменена или создана*/

@media only screen and (max-width: 1100px) {

    /*HEADER STYLE START*/
    .header__wrapper {
        width: 92%; /*15+345+15 = 375*/
        flex-wrap: nowrap;
    }
    .header__cube-svg { /*синий кубик изменен размер*/
        width: 51.73px; /***/
        height: 52.69px;
    }

    .header__noTab-text { /*изменен размер самой натписи NoTab*/
        width: 46.41px; /***/
        height: 11.96px; /***/
    }

    .header__nav {
        padding-left: 185px; /*108 (205)*/
    }
    .header__nav-item-logo {
        display: none; /***/
    }

    .header__nav-item-link {
        font-size: 14px; /***/
    }
    /*HEADER STYLE END***************************************************/

    /*INTRO STYLE START*/
    .intro__wrapper { /*почти тоже самое, что и в классе header__wrapper надо будет объединить*/
        width: 92%; /***/
        max-width: 1240px;
        margin: auto; /*выставляет див с этим классом по центру в его родителе*/
        display: flex;
        flex-direction: column; /*ОТЛИЧИЕ от  header__wrapper */
        justify-content: flex-start;
        flex-wrap: wrap; /*дарует возможность переноса по строкам контента*/
        background-color: black;
    }
    .intro__wrapper-1 {
        display: flex;
        flex-direction: row;
    }
    .intro__textBlock {
        min-height: 323px; /*700*/

    }
    .intro__textBlock-item-1 {
        padding-top: 98.31px; /*154*/
        width: 207px; /***/
        height: 120px; /***/
    }
    .intro__textBlock-item-1-text {
        font-size: 35px; /***/
        line-height: 40px; /***/
    }

    .intro__imgBlock { /*контейнер для градиента и картики айфона*/
        position: relative;
        padding-left: 15px; /*погонядлось в figma 180*/
    }
    .intro__imgBlock-ico {  /*сама картинка айфона*/
        margin-top: 82px; /***/
        width: 161px; /***/
        height: 323px; /***/
    }
    .intro_imgBlock-gradient { /*градиент собственно*/
        width: 363.95px; /***/
        height: 430.08px; /***/
        left: -150px; /***/
        top: 22px; /***/
        background: rgba(250, 0, 255, 0.5); /***/
        filter: blur(250px);
        transform: rotate(-90.69deg); /***/
    }
    .intro__textBlock-item-2 {
        padding-top: 125px; /*55*/
    }
    .intro__textBlock-item-2-gradient { /*контейнер для градиента*/
        margin-bottom: 32px; /***/
        margin-right: 185px; /***/
        height: 74px; /***/
        width: 74px; /***/
    }
    .intro__textBlock-item-2-img { /*контейнер картинки-линии*/
        display: none; /***/
    }
    .intro__textBlock-item-2-text {
        width: 240px; /***/
        height: 88px; /***/
        font-style: normal; /***/
        font-weight: 400; /***/
        font-size: 16px; /***/
        line-height: 22px; /***/
    }
    .intro__footer {
        width: 92%; /***/
        margin-top: 113px; /***/
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .intro__footer-item-1 {
       min-width: 283px; /***/
    }
    .intro__footer-item-1-text {
        font-size: 24px; /***/
        line-height: 29px; /***/

    }
    .intro__footer-item-2 {
        margin-top: 34px; /***/
        padding-left: 0; /***/
    }
    .intro__footer-item-2-ico {
        width: 185px; /***/
        height: 60px; /***/
    }

    .intro__footer-item-3 {
        margin-top: 24px; /***/
        padding-left: 0; /***/
    }

    .intro__footer-item-3-ico {
        width: 185px; /***/
        height: 60px; /***/
    }
    /*INTRO STYLE END*/

    /*COMBINER STYLE START*/

    .combiner {
        display: flex;
        flex-direction: column;
    }

    /*COMBINER STYLE END*/

    /*COOKIE STYLE START*/
    .cookie {
        order: 3; /***/
    }

    .cookie__item-1 {
        padding-left: 15px; /***/
    }
    .cookie__item-text {
        font-size: 12px; /***/
        line-height: 16.34px; /***/
        width: 200px; /***/
    }

    .cookie__item-2 {
        padding-right: 15px; /***/
    }

    .cookie__item-button {
        width: 92px; /***/
    }
    /*COOKIE STYLE END*/

    /*INFO__WINDOWS STYLE START*/

    .info__windows {
        width: 92%; /***/
        margin: auto; /*выставляет див с этим классом по центру в его родителе*/

        padding-left: 0;   /***/
        padding-right: 0;  /***/
    }
    .info__window-wrap-border-1 {
        width: 345px; /***/
        height: 233px; /***/
        padding-left: 33px; /***/
    }
    .info__window-wrap-border-2 {
        margin-top: 30px;
        width: 345px; /***/
        height: 167px; /***/
        padding-left: 33px; /***/
    }
    .info__window-mail {
        height: 154px; /***/
    }
    .info__windows-login {
        height: 88px; /***/
    }
    .info__windows-text {
        font-size: 24px; /***/
        line-height: 33px; /***/
    }
    .info__windows-link {
        font-size: 18px; /***/
        line-height: 25px; /***/
    }
    /*INFO__WINDOWS STYLE END*/

    /*MISSION STYLE START*/
    .mission {
        width: 100%;
        max-width: 1440px;
        min-height: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .mission__img { /*контейнер картинки*/

    }
    .mission__img-ico { /*сама картинка*/
        max-width: 918px;
        min-height: 498px;
    }
    .mission__text { /*первый контейнер текста*/
        max-width: 358px;

    }
    .mission__text-container { /*второй контейнер текста*/

    }
    .mission__text-title { /*заголовок*/
        padding-top: 180px; /*подгонялос в было figma 236*/

        font-weight: 700;
        font-size: 51px;
        line-height: 62px;
        color: #FFFFFF;
    }
    .mission__text-content { /*основный текст*/
        max-width: 315px;
        padding-top: 23px;
        font-size: 18px;
        line-height: 24.5px;
        color: #FFFFFF;
    }
    /*MISSION STYLE END*/

}
