/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/montserrat-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/montserrat-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-regular - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/noto-sans-v26-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/noto-sans-v26-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-700 - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/noto-sans-v26-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/noto-sans-v26-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/roboto-v29-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v29-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v29-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box; /*для корректного расчета отступов и размера блока*/
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: "Noto Sans";
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    background-color: #3498db;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    background-color: #3498db;
}

/*SLIDER STYLE START*/

.slider { /*общий контейнер*/
    margin-top: 100px;
    background-color: #3498db;
    position: relative;
    z-index: 0;
}
.slider__wrapper { /**/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background-color: #3498db;
}
.slider__wrapper-container {
    width: 650px;
    height: 200px;
    overflow: hidden;
    background-color: #3498db;
}

.slider__wrapper-container-line { /**/
    width: 700px;
    height: 200px;
    background-color: #3498db;
    display: flex;
    position: relative;
    z-index: 0;
}
.slide {
    width: 276px;
    position: absolute;
    z-index: 2;
    background-color: #3498db;
    display: flex;
    flex-direction: row;
    justify-content: start;

}
.slide__item-wrap {
    width: 256px;
    height: 200px;
    background-color: #3498db;
}
.slider__item {
    width: 650px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.slider__item-text {
    font-size: 400%;
    color: #3498db;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
}
.slider__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.slideBtn {
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__button-left-ico {
    width: 30px;
    height: 30px;
}

.slideBtn:hover {
    background: #a29b9b;
}

.slider__button-left {

}
.slider__button-right {

}
.slider__button-right-ico {
    width: 30px;
    height: 30px;
    transform: scale(-1, 1);
}

.dots__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.dot.active {
    background-color: black;
}
span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: darkslategray;
    margin-right: 30px;
    cursor: pointer;
}
span:last-child {
    margin-right: 0;
}
/*SLIDER STYLE END*/



