/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/montserrat-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/montserrat-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-regular - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/noto-sans-v26-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/noto-sans-v26-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-700 - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/noto-sans-v26-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/noto-sans-v26-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box; /*для корректного расчета отступов и размера блока*/
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: "Noto Sans";
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    background-color: gray;
}

/*HEADER STYLE START*/
.wrapper {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    /*height: 10784px;*/

    background: #0c0c0c;
}
.header__wrapper {
    width: 80%;
    max-width: 1240px;
    margin: auto; /*выставляет див с этим классом по центру в его родителе*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; /*дарует возможность переноса по строкам контента*/
    background-color: black;
}
.header__cube { /*синий кубик*/
}
.header__cube-svg:hover, .header__cube-svg:focus, .header__cube-svg:active{
    opacity: 0.75;
}
.header__noTab { /*div для надписи NoTab*/
    padding-left: 8px;
}

.header__noTab-text:hover, .header__noTab-text:focus, .header__noTab-text:active{
    opacity: 0.75;
}

.header__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 108px;
}
.header__nav-item-text {
    padding-left: 12px;
}

.header__nav-item-link {
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #FFFFFF;
}
.header__nav-item-link:hover, .header__nav-item-link:focus, .header__nav-item-link:active{
    opacity: 0.75;
}
/*HEADER STYLE END*/

/*INTRO STYLE START*/


.intro__wrapper { /*почти тоже самое, что и в классе header__wrapper надо будет объединить*/
    width: 80%;
    max-width: 1240px;
    margin: auto; /*выставляет див с этим классом по центру в его родителе*/
    display: flex;
    flex-direction: column; /*ОТЛИЧИЕ от  header__wrapper */
    justify-content: flex-start;
    flex-wrap: wrap; /*дарует возможность переноса по строкам контента*/
    background-color: black;
}
.intro__wrapper-1 {
    display: flex;
    flex-direction: row;
}
.intro__textBlock {
    min-height: 700px;
    /*background: url("../img/intro-ifon.png") no-repeat right;*/
}
.intro__textBlock-item-1 {
    padding-top: 154px;
    /*min-width: 643px;*/
}
.intro__textBlock-item-1-text {
    font-family: Montserrat;
    font-size: 64px;
    line-height: 70px;
    font-weight: 700;
    color: #FFFFFF;
}

.intro__imgBlock {
    padding-left: 50px; /*погонядлось в figma 180*/
}
.intro__textBlock-item-2 {
    padding-top: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}
.intro__textBlock-item-2-img {
    height: 125px;
    width: 125px;
    /*background: rgba(96, 92, 234, 0.5); если подключить градиет исчезнет прямая
    filter: blur(100px);*/

}
.intro__textBlock-item-2-text {
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
.intro__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.intro__footer-item-1 {
    min-width: 413px;
}
.intro__footer-item-1-text {
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    line-height: 70px;
    color: #FFFFFF;
}
.intro__footer-item-2 {
   padding-left: 260px; /*подгонялось в figma 388*/
}
.intro__footer-item-2-ico:hover, .intro__footer-item-2-ico:focus, .intro__footer-item-2-ico:active{
    opacity: 0.5;
}

.intro__footer-item-3 {
    padding-left: 28px;
}
.intro__footer-item-3-ico:hover, .intro__footer-item-3-ico:focus, .intro__footer-item-3-ico:active{
    opacity: 0.5;
}
/*INTRO STYLE END*/

/*COOKIE STYLE START*/

.cookie {
    width: 100%;
    max-width: 1440px;
    min-height: 93px;
    background: #212834;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cookie__item-1 {
    padding-left: 100px;
}
.cookie__item-text {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.cookie__item-2 {
    padding-right: 24px;
}

.cookie__item-button {
    text-transform: uppercase; /*все буквы заглавные*/
    font-size: 14px;
    line-height: 19px;
    width: 132px;
    height: 50px;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #FFFFFF;
    border-radius: 6px;
}
.cookie__item-button:hover, .cookie__item-button:focus, .cookie__item-button:active{
    background: #a29b9b;
}
/*COOKIE STYLE END*/

/*INFO__WINDOWS STYLE START*/
.info__windows {
    padding-top: 61px;
    width: 80%;
    max-width: 1240px;
    margin: auto; /*выставляет див с этим классом по центру в его родителе*/

    padding-left: 56px;   /*подгонялось в figma 76*/
    padding-right: 55px;  /*подгонялось в figma 75*/
}
.info__windows-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.info__window-wrap-border {
    width: 503px;
    height: 312px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 21.3671px;

    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.info__window-mail {
    height: 186px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info__windows-login {
    height: 122px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info__windows-text {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}
.info__windows-link {
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

/*INFO__WINDOWS STYLE END*/

/*MISSION STYLE START*/
.mission {
    width: 100%;
    max-width: 1440px;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.mission__img { /*контейнер картинки*/

}
.mission__img-ico { /*сама картинка*/
    max-width: 918px;
    min-height: 498px;
}
.mission__text { /*первый контейнер текста*/
    max-width: 358px;

}
.mission__text-container { /*второй контейнер текста*/

}
.mission__text-title { /*заголовок*/
    padding-top: 180px; /*подгонялос в было figma 236*/
    font-family: Montserrat;
    font-weight: 700;
    font-size: 51px;
    line-height: 62px;
    color: #FFFFFF;
}
.mission__text-content { /*основный текст*/
    max-width: 315px;
    padding-top: 23px;
    font-size: 18px;
    line-height: 24.5px;
    color: #FFFFFF;
}

/*MISSION STYLE END*/
