/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/montserrat-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/montserrat-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-regular - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/noto-sans-v26-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/noto-sans-v26-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-700 - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/noto-sans-v26-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/noto-sans-v26-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box; /*для корректного расчета отступов и размера блока*/
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: "Noto Sans";
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    background-color: gray;
}

/*HEADER STYLE START*/
.header__wrapper {
    max-width: 1060px;
    margin: auto; /*выставляет див с этим классом по центру в его родителе*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; /*дарует возможность переноса по строкам контента*/
    background-color: darkolivegreen;
}
.header__cube { /*синий кубик*/
}
.header__cube-svg:hover, .header__cube-svg:focus, .header__cube-svg:active{
    opacity: 0.75;
}
.header__noTab { /*div для надписи NoTab*/
    padding-left: 8px;
}

.header__noTab-text:hover, .header__noTab-text:focus, .header__noTab-text:active{
    opacity: 0.75;
}

.header__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 108px;
}
.header__nav-item-text {
    padding-left: 12px;
}

.header__nav-item-link {
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #FFFFFF;
}
.header__nav-item-link:hover, .header__nav-item-link:focus, .header__nav-item-link:active{
    opacity: 0.75;
}
/*HEADER STYLE END*/

/*INTRO STYLE START*/


.intro__wrapper { /*почти тоже самое, что и в классе header__wrapper надо будет объединить*/
    max-width: 1060px;
    margin: auto; /*выставляет див с этим классом по центру в его родителе*/
    display: flex;
    flex-direction: column; /*ОТЛИЧИЕ от  header__wrapper */
    justify-content: flex-start;
    flex-wrap: wrap; /*дарует возможность переноса по строкам контента*/
    background-color: burlywood;
}
.intro__wrapper-1 {
    display: flex;
    flex-direction: row;
}
.intro__textBlock {
    min-height: 700px;
    /*background: url("../img/intro-ifon.png") no-repeat right;*/
}
.intro__textBlock-item-1 {
    padding-top: 154px;
    min-width: 643px;
}
.intro__textBlock-item-1-text {
    font-family: Montserrat;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
}

.intro__imgBlock {
    padding-left: 15px; /*подгонялось в figma 180*/
}
.intro__textBlock-item-2 {
    padding-top: 55px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.intro__textBlock-item-2-img {
    height: 125px;
    width: 125px;
    /*background: rgba(96, 92, 234, 0.5); если подключить градиет исчезнет прямая
    filter: blur(100px);*/

}
.intro__textBlock-item-2-text {
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
.intro__footer {
    display: flex;
    flex-direction: row;
}
.intro__footer-item-1 {
    min-width: 413px;
}
.intro__footer-item-1-text {
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 70px;
    color: #FFFFFF;
}
.intro__footer-item-2 {
   padding-left: 220px; /*подгонялось в figma 388*/
}
.intro__footer-item-2-ico:hover, .intro__footer-item-2-ico:focus, .intro__footer-item-2-ico:active{
    opacity: 0.5;
}

.intro__footer-item-3 {
    padding-left: 28px;
}
.intro__footer-item-3-ico:hover, .intro__footer-item-3-ico:focus, .intro__footer-item-3-ico:active{
    opacity: 0.5;
}

/*INTRO STYLE END*/
